# generator && stitching: python=3.7.13
future==0.18.3
numpy==1.21.5
pygame==2.1.2
matplotlib==3.5.3
open3d==0.16.0
Pillow==9.4.0
tqdm==4.64.1
hausdorff==0.2.6
numba==0.53.1
PyYAML==6.0
pyzmq==25.0.0
scipy==1.4.1